body {
  display: grid;
  justify-content: center;
}
form {
  margin-top: 40px;
  line-height: 0%;
  padding: 30px;
  width: 400px;
  background-color: grey;
  /* border: 2px solid green; */
}
button {
    width: 100%;
}
#check{
    gap: 10px;
    display: flex;
    align-items: center;
}
